node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Firebase and Google Cloud Service Account
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.node.json
!components.json
!firebase-blueprint.json
